.footer {
  background-color: var(--dark-blue);

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.footer_container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}