.case {
  border: 1px solid var(--white);
  border-radius: 20px;
  transition: .5s;
}

.case:hover {
  background-color: var(--blue);
  color: var(--dark-blue);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.content {
  padding: 10px;
}

.subtitle {
  margin: 0;
}

.description {
  margin: 10px 0;
}

.techbage {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: var(--dark-blue);
  background-color: var(--yellow);

  border-radius: 2px;
  padding: 5px 10px;
  margin-right: 10px;
  margin: 10px 10px 0 0;
}

.link {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;

  color: var(--white);
  padding: 5px;
  margin: 10px 10px 0 0;

}

.case:hover .link {
  color: var(--dark-blue);
}