/*  fonts */
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Inter-Regular.woff2?v=3.19) format("woff2"),
  url(./fonts/Inter-Regular.woff?v=3.19) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Inter-Medium.woff2?v=3.19") format("woff2"),
  url("./fonts/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
  url("./fonts/Inter-Bold.woff?v=3.19") format("woff");
}

/* global colors */
:root {
  --black: #0d1117;
  --white: #c1c9d1;
  --blue: #4f9cf9;
  --yellow: #ffe492;
  --dark-blue: #043873;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 765px;
  }

  .body {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 80%;
  }
}


