.section {
  padding-top: 20px;
  background-color: var(--dark-blue);
  background-image: url(./bgcontacts.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list {
  list-style: none;
  padding: 0;
}

.list_blanc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.link {
  color: var(--white);
  text-decoration: none;
  transition: .3s;
}

.link:visited {
  color: var(--white);
}

.link:hover {
  background-color: rgba(255, 228, 146, .2);
}

.soclink {
  margin-right: 10px;
}

.soclinfk:last-child {
  margin-right: 0;
}

.soclink_img {
  width: 64px;
  transition: .3s;
}

.soclink_img:hover {
  background-color: rgba(255, 228, 146, .2);
}

.codewars {
  display: block;
}

.codewars_micro {
  display: none;
}

@media screen and (max-width: 800px) {
  .codewars {
    display: none;
  }

  .codewars_micro {
    display: block;
  }

  .contacts_container {
    grid-template-columns: 1fr;
  }
  .soclink_img {
    width: 40px;
  }
}